body {
  /* margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 255, 255); */

  margin: 0;
  height: 100vh;
  font-weight: 100;
  background: white;
  /* overflow-y: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  overflow-y: scroll;
}

.container {
  /* margin-top: 150px; */
  /* margin-bottom: 150px; */
  padding-bottom: 150px;
  margin: 150px auto;
}

.container-portfolio {
  /* padding-bottom: 150px; */
  margin: 150px auto;
  /* background-color: #152f503d; */
  /* box-shadow: 15px 10px 15px  #00000031; */
}

.card-wrapper {
  padding-top: 24px;
  height: fit-content;
  max-width: 765px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.logoContainer {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
}

.h1-white-center {
  text-align: center;
  color: rgb(197, 197, 197);
  font-family: "Comfortaa bold", cursive;
}
.noFont {
  text-align: center;
  color: rgb(0, 0, 0);
}

.h1-white-center-logoName {
  text-align: center;
  color: #f1faee;
  font-family: "Comfortaa", cursive;
  /* cursor: pointer; */
  top: 0;
  left: 0;

  border-bottom: 5px solid rgba(255, 255, 255, 0.11);
  border-radius: 5px;
  transition: 0.2s ease-out;
}
.h1-white-center-logoName:hover {
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  height: fit-content;
  width: fit-content;
  transition: 0.2s ease-in;
}

/* Frontend-joe navbar */

.a-animationOne {
  animation-delay: 0.1s;
}
.a-animationTwo {
  animation-delay: 0.2s;
}
.a-animationThree {
  animation-delay: 0.3s;
}
.a-animationFour {
  animation-delay: 0.4s;
}
.a-animationFive {
  animation-delay: 0.5s;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.navbar,
.navbar-burger,
.menu-logo,
.menu {
  position: fixed;
}

/* .background {
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.5s;
  position: relative;
} */

.background-container {
  box-shadow: 0 10px 10px -10px rgb(0, 0, 0) inset;
}

.background {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background: url("./assets/headerbg.png") center center no-repeat;
  background-size: cover;
  overflow: hidden;
}

.shadow-b {
  /* box-shadow: inset 0px 100px 100px -90px rgba(0,0,0,0.7); */
}

.background:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("./assets/headerbg.png") center center no-repeat;
  background-size: cover;
  /* filter: blur(2px); */
  transform: scale(1.1); /* This line ensures that there are no sharp edges */
  z-index: 2;
}

.background:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  z-index: 3;
}

.txt-white {
  color: #000000;
}

body.open .background {
  filter: blur(20px);
}

.headerImg {
  width: 25%;
}

/* --------------------------------------------------------------------------------- */

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
  color: #f1faee;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.headers {
  position: relative;
  text-align: center;
  background: #19191c;
  color: white;
}

.mt {
  /* margin-top: 5%; */
  position: relative;
}

.logo {
  position: relative;
  z-index: 1;

  /* z-index: 3; */
  top: 0;
  right: 0;
  display: grid;
  vertical-align: top;
  margin-left: 15px;
  margin-top: 10px;
  color: #f1faee;
  font-family: "Comfortaa", cursive;
  border-bottom: 5px solid rgba(255, 255, 255, 0.11);
  border-radius: 5px;
  transition: 0.2s ease-out;
  width: fit-content;
}

.logo:hover {
  padding: 15px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 2px solid white;
  height: fit-content;
  width: fit-content;
  transition: 0.2s ease-in;
}

.inner-header {
  height: 30vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 10vh;
  margin-bottom: -2px;
  min-height: 100px;
  max-height: 150px;
}

.contents {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .contents {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/* --------------------------------------------------------------------------------- */

.navbar {
  position: relative;

  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #000000;
}

.navbar > button {
  font-size: 28px;
}

.navbar-logo {
  height: 25px;
}

.navbar-burger {
  position: relative;

  z-index: 3;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 58px;
  background-image: url("./assets/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-left: 2px solid rgba(25, 25, 28, 0);
  border-bottom: 2px solid rgba(25, 25, 28, 0);
}
.navbar-burger:hover {
  transition: 0.2s ease-in;
}

body.open .navbar-burger {
  animation: appear 0.2s both;

  background-image: url("./assets/close.svg");
}

body.open .menu-logo {
  opacity: 1;
  visibility: visible;
}

.menu {
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.959);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

body.open .menu {
  opacity: 1;
  visibility: visible;
}

.menu > a {
  color: #f9f9f9;
  font-size: 32px;
  font-family: "Euclid Circular A";
  text-decoration: none;
}

.menu:hover > a:hover {
  border-bottom: 1px solid #152f50;
  padding: 0;
  transition: 0.3s ease-in;
}

body.open .menu > a {
  animation: appear 0.3s both;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
}

/* --------------------------------------------------------------------------- */
/* .footer-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 20px;
  padding-right: 72px;
  background: #ffffff00;
}

.footer {
  margin-top: 32px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
} */

.footer {
  background-color: #222;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px;
  box-sizing: border-box;
}

.footer-section {
  margin: 20px;
}

.footer-color {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.footer-color:hover {
  color: #ddd;
}

.footer-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.footer-list,
.social-list {
  list-style-type: none;
  padding: 0;
}

.footer-list li,
.social-list li {
  margin-bottom: 10px;
}

.footer-list a,
.social-list a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-list a:hover,
.social-list a:hover {
  color: #ddd;
}

.social-list {
  display: flex;
  gap: 10px;
}

footer form {
  display: flex;
  flex-direction: column;
}

footer form input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1em;
}

footer form button {
  padding: 10px;
  font-size: 1em;
  background-color: #444;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

footer form button:hover {
  background-color: #666;
}

/* Responsive styling */
@media (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
}

/* From uiverse.io by @gagan-gv */
.card {
  width: 200px;
  height: fit-content;
  background: #07182eb1;
  border-radius: 5px;
  text-align: center;
  color: #f0f0f0;
  font-family: inherit;
  /* z-index: 1; */
  margin: 0 auto;
  margin-bottom: 24px;
}

.h5-mr-b {
  padding-bottom: 16px;
}

.bold {
  font: bold;
}

.line {
  border-bottom: 2px solid rgba(255, 255, 255, 0.445);
  margin-top: 64px;
  margin-bottom: 64px;
}

.img {
  display: flex;
  /* margin: 60px auto 10px auto; */
  margin: 0 auto;
  width: 75px;
  height: 75px;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  /* z-index: 99; */
  background-color: #152f50;
}

p {
  opacity: 1;
  transition: all 0.5s;
}

h1 {
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
}

.input-wrapper {
  padding-top: 24px;
  height: fit-content;
  max-width: 765px;
  margin: 0 auto;
  text-align: center;
}

.contact-input {
  margin: 8px auto;
  display: flex;
  width: 500px;
  max-width: 500px;
  transition: 0.1s ease-out;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 4px;
}

.contact-input:hover {
  /* border-color: #2364b898; */
  box-shadow: #2c2677a9 0px 0px 5px 1px;
  transition: 0.1s ease-in;
}

.input-btn {
  border: none;
  padding: 8px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 16px;
  font-size: 22px;
  transition: 0.3s ease-out;
}

.input-btn:hover {
  border: 1px solid rgb(51, 51, 51);
  transition: 0.3s ease-in;
  border-top-right-radius: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 4px;
}

.contact-msg {
  height: 250px;
  max-height: 500px;
  min-height: 250px;
  max-width: 500px;
  min-width: 500px;
}

.card:hover .img {
  transform: scale(1.1);
  border: 1px solid #f0f0f0;
}

.card:hover h1,
.card:hover p {
  opacity: 1;
}

a {
  text-decoration: none;
  width: fit-content;
}

.portfolio-wrapper {
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 500px;
  width: 250px;
  max-height: 700px;
  height: 276px;
  background-color: #152f50;
  border-radius: 10px;
  transition: 0.2s ease-out;
}
.portfolio-wrapper:hover {
  width: 270px;
  height: 296px;
  transition: 0.2s ease-in;
}

.hovering-card {
  transition: 0.2s ease-out;
}

.hovering-card:hover {
  width: 270px;
  /* height: 296px; */
  transition: 0.2s ease-in;
}

/* Background animation */

.light {
  position: absolute;
  width: 0px;
  opacity: 0.75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

#head1,
#head2,
#head3,
#head4,
#head5 {
  opacity: 0;
}

#head1 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}

#head2 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

.header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: rgb(0, 0, 0);
  font-size: 2em;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
